@font-face {
    font-family: 'Rubik';
    src: url('fonts/rubik.ttf');
}

::selection {
    background: #D7BB3E;
}

html {
  scroll-behavior: smooth;
}

.bg-color-black {
    background-color: #000000;
}

.bg-color-blue {
    background-color: #020238;
}

.bg-color-white {
    background-color: #FFFFFF;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    color: #FFFFFF;
}

header .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height: 10rem;
    margin-left: 2.5rem;
}

header nav .menu {
    list-style: none;
    display: flex;
    gap: 3rem;
    font-family: 'Rubik', 'Times New Roman';
}

header nav .menu li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.20rem;
}

header nav .menu li a.active {
    color: #D7BB3E;
}

header nav .menu li a:hover {
    color: #D7BB3E;
}