@font-face {
    font-family: 'Rubik';
    src: url('fonts/rubik.ttf');
}

.bg-color-black {
    background-color: #000000;
}

.bg-color-blue {
    background-color: #020238;
}

.bg-color-white {
    background-color: #FFFFFF;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    color: #FFFFFF;
}

header .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height: 10rem;
    margin-left: 5rem;
}

header nav .menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    /* font-family: 'Times New Roman', 'Rubik'; */
    font-family: 'Rubik', 'Times New Roman';
}

/* header nav .menu li {
    margin-top: 1rem;
} */

header nav .menu li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.25rem;
}

header nav .menu li a.active {
    color: #D7BB3E;
    /* font-weight: bolder; */
}

header nav .menu li a:hover {
    /* color: #CCCCCC; */
    color: #D7BB3E;
}